<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PrintPath" value =""/>
		<add key="DefaultCity" value="Bad Breisig"/>
		<add key="DataDirectory" value="data"/>
		<add key="Sender_Name" value="Krämer"/>
		<add key="Sender_ForeName" value="André"/>
		<add key="GeoData_City" value="Bad Breisig"/>
	</appSettings>
</configuration>